/*---------------------------------------*/

/*MEDIA QUERIES*/

/*---------------------------------------*/

/* SCREEN TO 1600PX (1600PX-1920PX) */
@media only screen and (max-width: 1920px) {
  header {
    height: 20vh;
  }
  .title {
    position: absolute;
    top: 35%;
    left: 13%;
    /* transform: translate(-50%, -50%); */
  }
  /* .tutorial-list-box {
    margin-left: 8%;
    margin-right: 8%;
  } */
}

/* SCREEN TO 1600PX (1200PX-1600PX) */
@media only screen and (max-width: 1600px) {
  header {
    height: 19vh;
  }
  .title {
    position: absolute;
    top: 35%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
  }
  .tutorial-list-box {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    font-size: 530%;
  }
}
/*--------BIG TABLET TO 1200PX (widths smaller than the 1140px row) (1024-1200px)--------*/
@media only screen and (max-width: 1200px) {
  .title {
    position: absolute;
    top: 35%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
  }

  header {
    min-height: 7rem;
    height: 17vh;
  }

  h1 {
    font-size: 520%;
  }

  .tutorial-list h3 {
    font-size: 180%;
  }

  .tutorial-list-box {
    margin-left: 5%;
    margin-right: 5%;
  }

  .tutorial-list li {
    margin: 0 4% 70px 4%;
    width: 42%;
  }
  .main-container {
    margin: 0 7%;
  }
}

/*--------SMALL TABLET TO BIG TABLET (768-1023px)--------*/

@media only screen and (max-width: 1023px) {
  .title {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .tutorial-list li {
    width: 70%;
    margin: 0 15% 60px 15%;
  }

  h1 {
    font-size: 480%;
  }

  .tutorial-list h3 {
    font-size: 280%;
  }

  .main-container {
    margin: 0;
  }
}

/*--------SMALLER THAN IPAD (481-767px)--------*/

@media only screen and (max-width: 767px) {
  .title {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  header {
    height: 15vh;
  }
  h1 {
    font-size: 240%;
  }
  .tutorial-list h3 {
    font-size: 190%;
  }
  .tutorial-list-box {
    margin-left: 4%;
    margin-right: 4%;
  }
  .tutorial-list li {
    margin: 0 10% 40px 10%;
    width: 80%;
  }
}
